html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.countryCointer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.mainCointener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f6;
}

.contiener {
  background-color: white;
  padding-left: 20px;
  padding-top: 20;
  padding-right: 5px;
  width: 700px;
  border-radius: 15px;
  min-height: 350px;
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  font-family: 'Poppins', sans-serif;
  gap: 70px; 
}

.contiener img {
  top: 20px; /* distancia desde arriba */
  right: 5px; /* distancia desde la derecha */
  height: auto;
  border-radius: 20px;
  border: 2px solid black;
}


.dataCointener h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 15px; 
}

.dataCointener p {
  margin-bottom: 17px; 
  font-family: 'Arial, Helvetica, sans-serif';
}